p{
    text-align: center;
    background-color: rgb(156, 196, 156);
    margin-top: 2rem;
}
.container{
    display: flex;
    justify-content: center;
    gap: 2rem;
  
}
a{
    text-decoration: none;
}
