<h1>Platillo Verde: Restaurante Vegano en Murcia</h1>
<!--
 <img src="https://e00-expansion.uecdn.es/assets/multimedia/imagenes/2023/03/23/16795769439778.jpg" alt="">
-->
<p>Bienvenidos a Platillo Verde, el destino perfecto para los amantes de la comida vegana en Murcia. Aquí,
    la frescura y la creatividad se combinan para ofrecerte una experiencia gastronómica única que resalta lo mejor de
    la cocina 100% vegetal.
</p>

<p>

    En Platillo Verde, nos enorgullecemos de presentar un menú lleno de opciones deliciosas y nutritivas.
    Desde nuestras jugosas hamburguesas de legumbres y especias hasta los kebabs irresistiblemente sabrosos,
    cada plato está preparado con ingredientes frescos y de alta calidad. Acompáñalos con nuestras crujientes
    patatas fritas y disfruta de un batido de frutas frescas, cremoso y revitalizante.

</p>


<p>
    Nuestro compromiso es demostrar que la comida rápida puede ser saludable, sostenible y, sobre todo,
    ¡increíblemente sabrosa! En Platillo Verde, cada bocado es una invitación a disfrutar de una alimentación
    consciente sin sacrificar el sabor. Ven y descubre una nueva forma de disfrutar la comida en Platillo Verde,
    donde la gastronomía vegana se transforma en una celebración de sabor y bienestar. ¡Te esperamos en el corazón de
    Murcia!

</p>

<div class="img-center">
<img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/29/fa/1e/c3/salon.jpg?w=600&h=-1&s=1" alt="">


</div>





