
h1{
    font-size: 2rem;
    text-align: center;
}
p{
   
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 15px;   
    text-align: center;
}
.img-center{

display: flex;
justify-content: center;
}
